
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% if page.title %}{{ page.excerpt | strip_html | smartify }}{% else %}{{ site.description | smartify }}{% endif %}">
    {% if site.author or page.author %}<meta name="author" content="{{ page.author | default: site.author }}">{% endif %}

    <title>{{ page.title | default: site.title | smartify }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <link rel="shortcut icon" href="{{ site.favicon.url | relative_url }}" type="{{ site.favicon.type }}">

    {% include social.html %}

    {% if site.analytics %}
    {% include analytics.html %}
    {% endif %}
</head>
