
<header{% if include.item.background %}{% if include.item.background.size < 8 %} style="background-color: #{{ include.item.background | split: '#' | last | downcase }}"{% else %} style="background: url('{{ include.item.background | relative_url }}') no-repeat center center fixed; background-size: cover;"{% endif %}{% endif %}>
    {% if include.item.url == '/blocks/1/' %}{% include navbar.html %}{% endif %}
    <div class="container">
        <div class="row align-items-center justify-content-center{% if include.item.display %} h-{{ include.item.display }}{% endif %}">
            <div class="col-md-10 text-center{% if include.item.color %} text-{{ include.item.color }}{% endif %}">
                {% if include.item.suptitle %}<h1>{{ include.item.suptitle }}</h1>{% endif %}
                {% if include.item.title %}<h1 class="display-4">{{ include.item.title }}</h1>{% endif %}
                {% if include.item.description %}<p>{{ include.item.description }}</p>{% endif %}
                {% if include.item.buttons %}
                <div class="d-flex justify-content-around my-5">
                    {% for button in include.item.buttons %}
                    <a href="{{ button.url }}" class="btn btn-{% if button.outline %}outline-{% endif %}{{ button.color | default: 'primary' }}">{{ button.name }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
